a:hover,
a:active,
a:link,
a:visited {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  line-height: 1.5;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  text-align: inherit;
}

fieldset,
img {
  border: 0;
}

iframe {
  display: block;
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

del {
  text-decoration: line-through;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: 500;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 500;
}

i,
code,
b {
  font-weight: normal;
  font-style: normal;
}

code {
  background: transparent;
}

:global html,
:global body,
:global #root {
  width: 100%;
  height: 100%;
}

:global .music_wraper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

:global .music_top {
  width: 100%;
  height: 4rem;
  background: #2c2c2c;
  line-height: 4rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
}

:global .music_top .search {
  flex: 1;
  height: 2rem;
  border: 1px solid #ccc;
  border-radius: 20px;
  text-indent: 2rem;
  margin: 0 10px;
}

:global .music_top .sing {
  width: 15px;
  height: 15px;
  display: inline-block;
  background: url("../assets/icon.png") no-repeat 0 0/100%;
}

:global .music_top .autio {
  width: 15px;
  height: 15px;
  display: inline-block;
  background: url("../assets/yinpin.png") no-repeat 0 0/100%;
}

:global .music_center {
  width: 100%;
  flex: 1;
}

:global .music_center .music_tab {
  width: 100%;
  height: 3rem;
  background: #2c2c2c;
  color: #fff;
  line-height: 3rem;
  display: flex;
  justify-content: space-around;
}

:global .music_bottom {
  width: 100%;
  height: 6rem;
  line-height: 3rem;
}

:global .music_bottom footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: .15rem 0;
  border-top: 1px solid #eee;
  background: rgba(255, 255, 255, 0.4);
}

:global .music_bottom footer a {
  font-size: 0;
  text-align: center;
}

:global .music_bottom footer a p {
  width: 1.7rem;
  height: 1.7rem;
  margin-bottom: .1rem;
}

:global .music_bottom footer a span {
  font-size: .3rem;
  color: #2d2d2d;
}

:global .music_bottom footer a.active span {
  color: #c0c0c0;
}

:global .music_bottom footer a:first-child p {
  background: url("../assets/discover.png") no-repeat 0 0/100%;
}

:global .music_bottom footer a:first-child p, :global .music_bottom footer .active p {
  background: url("../assets/discover_active.png") no-repeat 0 0/100%;
}

:global .music_bottom footer a:nth-child(2) p {
  background: url("../assets/video.png") no-repeat 0 0/100%;
}

:global .music_bottom footer a:nth-child(2) p, :global .music_bottom footer .active p {
  background: url("../assets/video_active.png") no-repeat 0 0/100%;
}

:global .music_bottom footer a:nth-child(3) p {
  background: url("../assets/my.png") no-repeat 0 0/100%;
}

:global .music_bottom footer a:nth-child(3) p, :global .music_bottom footer .active p {
  background: url("../assets/my_active.png") no-repeat 0 0/100%;
}

:global .music_bottom footer a:nth-child(4) p {
  background: url("../assets/friend.png") no-repeat 0 0/100%;
}

:global .music_bottom footer a:nth-child(4) p, :global .music_bottom footer .active p {
  background: url("../assets/friend_active.png") no-repeat 0 0/100%;
}

:global .music_bottom footer a:last-child p {
  background: url("../assets/account.png") no-repeat 0 0/100%;
}

:global .music_bottom footer a:last-child p, :global .music_bottom footer .active p {
  background: url("../assets/account_active.png") no-repeat 0 0/100%;
}
