.canvas{
    width: 80%;
    margin-left: 10%;
  }
  :global {
      // 画布的样式
      .canvas_wraper {
          width:100%;
          height:auto;
          padding:100px 0;
          // border:1px solid #ccc;
          background: -webkit-linear-gradient(top,red,blue,purple);
      }
  }